.container{
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}
.row{
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
    /* width: 100%; */
}
.header
{
    height: 20vh;
    position: relative;
}
.header .jumbotron{
    background-color: forestgreen;
    height: 100%;
}
.content{
    width: 100%;
    height: 70vh;
    background-color: grey;
    overflow: auto;
    padding-top: 2%;
}
.add{
    display: flex;
    width: 100%;
    height: 8vh;
    background-color: goldenrod;
}
.add .addicon{
    font-size: 5rem;
}
.add input[type="text"]{
    font-size: 2rem;
    /* height: 50%; */
    width: 70%;
    height: 30%;
}
.add select{
    font-size: 2rem;
    width: 30%;
}
.add select option{
    font-size: 1.5rem;
}
.header #date{
    color: rgb(255, 255, 255);
    font-size: 5.5rem;
    margin-left: 30px;
    position: absolute;
    bottom: 20px;
}
.header select{
    position: absolute;
    margin-left: 60%;
    /* margin-right: -30px; */
    text-align: center;
    width: 30%;
    bottom: 40px;
    height: 10%;
    background: none;
    border: none;
    border-bottom: 1px solid black;
    color: blanchedalmond;
    /* padding: 2%; */
    font-size: 1.5rem;
}
.header select option{
    color: #000;
    width: 100%;
    padding: 2%;
    padding-right: 5%;
    /* background-color: rgba(0, 0, 0, 0.7); */
}
.item{
    width: 100%;
    height: 85px;
    min-height: 85px;
    position: relative;
    display: flex;
    list-style: none;
    background-color: rgb(204, 204, 204);
    font-size: 2.5rem;
    padding: 2px;
}
#list{
    padding-left: 0;
}
.item p{
    width: 80%;
    align-self: center;
}